body{
	background-color:#FFA6FF;
	text-align: center;
}
option{
    margin:0 auto;
}
form{
	margin-top: 250px;
}
select{
	width: 280px;
	height: 40px;
    font-size: 25px;
    text-align: center;

}
input{
	font-size: 22px;
	height: 40px;
	width: 100px;

}